@font-face {
font-family: GrandHotel;
src: url("../GrandHotel-Regular.otf") format("opentype");
}

@font-face {
font-family: CaviarDreams;
src: url("../CaviarDreams.ttf") format("opentype");
}

@font-face {
font-family: Cousine-Bold;
src: url("../Cousine-Bold.ttf") format("opentype");
}

.branding h1{
  font-family: GrandHotel, serif;
  font-size: 72px;
  margin-left: 20px;
  margin-top: 10px;
}

.mv-info h1 {
  font-family: Cousine-Bold, serif;
}

.bk-book {
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transition: -webkit-transform .1s;
	transition: transform .1s;
}

#card:hover {

	cursor: pointer;
}
.bk-book.bk-viewback:hover {
	cursor: pointer;
}

.bk-book > div,
.bk-front > div {
	display: block;
	position: absolute;
}

.bk-front {
	z-index: 10;
}

.bk-front > div {
	z-index: 1;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
	-webkit-transform-style: preserve-3d;
	transform-style: preserve-3d;
}

.bk-back {
	box-shadow: 10px 10px 30px rgba(0,0,0,0.3);
	border-radius: 2px;
}

@media only screen and (max-width : 480px) {
  .mv-info {
  margin-top: 500px;
}
}

.button {
	border: none;
	font-family: inherit;
	font-family: Cousine-Bold;
	color: inherit;
	background: none;
	cursor: pointer;
	display: inline-block;
	margin: 15px 30px;
	text-transform: uppercase;
	letter-spacing: 1px;
	outline: none;
	position: relative;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
	padding: 20px 20px;
}

.btn:after {
	content: '';
	position: absolute;
	z-index: -1;
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}
.btn-1 {
	border: 3px solid #000;
	color: #000;
}

.btn-1:hover,
.btn-1:active {
	color: #fff;
	background: #000;
}

/* Main colors and content */

.bk-front > div {
	border-radius: 0 3px 3px 0;
	box-shadow: 
		inset 4px 0 10px rgba(0, 0, 0, 0.1);
}

/* Individual style & artwork */


.bk-cover img{
	width: 100%;
	border: 1px solid black;
}

.bk-back p {
	color: #000;
	font-size: 16px;
	font-weight: 700;
	font-family: Cousine-Bold;
	overflow: hidden;
	padding-top: 10px;
	margin-left: 20px;
}


/* Fallbacks */

.no-csstransforms3d .bk-list li .bk-book > div,
.no-csstransforms3d .bk-list li .bk-book .bk-cover-back {
	display: none;
}

.no-csstransforms3d .bk-list li .bk-book > div.bk-front {
	display: block;
}

.no-csstransforms3d .bk-info button,
.no-js .bk-info button {
	display: none;
}

/* Sticky Footer*/
html {
  position: relative;
  min-height: 100%;
}
body {
  /* Margin bottom by footer height */
  margin-bottom: 40px;
}
.footer {
  border-top: 3px solid #000;
  position: absolute;
  bottom: 0;
  width: 100%;
  /* Set the fixed height of the footer here */
  height: 40px;
  font-family: Cousine-Bold;
}
.footer p {
	margin-top: 10px;
}
/* End Sticky Footer*/

@media only screen and (max-width : 480px) {
  .footer, .github-corner {
	  display: none;
  }
}

@media only screen and (max-width: 1366px) {
	.bk-front,
	.bk-back,
	.bk-front > div {
	width: 250px;
	height: 370px;
}
}

.card-wrapper { 
  width: 400px;
  height: 600px;
  position: relative;
  perspective: 1800px;
}

#card {
  width: 100%;
  height: 100%;
  position: absolute;
  transform-style: preserve-3d;
  transition: transform 1s;
}

#card div {
  margin: 0;
  display: block;
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
}


#card .back {
  transform: rotateY( 180deg );
}

#card.flipped {
  transform: rotateY( 180deg );
}