<!DOCTYPE html>
<html lang="en">
<head>
    <title></title>
</head>
<body class="container">

    <header>
        
    </header>

    <main>
        <div class="jumbotron">
            <p><%= movie.title %></p>
            <p><%= movie.translation %></p>
            <p><%= Plot %></p>
            <p><img src="<%= Poster%>" /></p>
            
            
            
        </div>
    </main>

    <footer>
        
    </footer>
    
</body>
</html>