<!DOCTYPE html>
<html lang="en">

<head>
    <title></title>
</head>

<body class="container">

    <header>

    </header>

    <main>
        <div class="jumbotron">
            <form action="/login" method="post">
                <input type="text" name="username" placeholder="Username">
                <input type="text" name="password" placeholder="Password">
                <button type="submit">Add</button>
            </form>


        </div>
    </main>

    <footer>

    </footer>

</body>

</html>