<!DOCTYPE html>
<html lang="en" class="no-js">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= title %></title>
    <meta name="description" content="3D Book Showcase with CSS 3D Transforms" />
    <meta name="keywords" content="3d transforms, css3 3d, book, jquery, open book, css transitions" />
    <meta name="author" content="Codrops" />
    <link rel="shortcut icon" href="../favicon.ico">
    <link rel="stylesheet" type="text/css" href="/stylesheets/style.css" />
    <link rel="stylesheet" type="text/css" href="/library/bootstrap/dist/css/bootstrap.min.css" />
    <script src="/javascripts/modernizr.custom.js"></script>
</head>

<body>
    
<header>
    <div class=" branding">
        <h1>awesomeTitl.es</h1>
    </div>
</header>
    
    <div class="container">
    <div class="row">
        <div class="jumbotron">
            <form action="/admin/edit/<%= movie._id %>" method="post">
                <div class="input-group input-group-lg">
                    <label for="title">Title: </label>
                    <input type="text" id="title" name="title" value="<%= movie.title %>" class="form-control">
                </div>
                <br>
                <div class="input-group input-group-lg">
                    <label for="translation">Translation: </label>
                    <input type="text" id="translation" name="translation" value="<%= movie.translation %>" class="form-control">
                </div>
                <br>
                <button type="submit" class="btn btn-primary">Edit</button>
            </form>
        </div>
    </div>
</div>
    <!-- /container -->
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
</body>

</html>